<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
 
    <!-- If not logged in, don't show the main navigation -->
 	<% if(!loggedIn) { %>

    <!-- Note: these WILL be shown on mobile width -->
    <a href="/register" class="w3-bar-item w3-button w3-padding-large w3-hover-white <% if(my_title === 'Register') { %> w3-white <% } %>">Register</a>
    <a href="/login" class="w3-bar-item w3-button w3-padding-large w3-hover-white <% if(my_title === 'Login') { %> w3-white <% } %>">Login</a>

    <!-- If logged in, show the main navigation -->
    <% } else { %>

    <!-- Note: this WILL be shown on mobile width because
               the "w3-hide-small" class was omitted. It will appear
               alongside the "hamburger". -->
    <a href="/dashboard" class="w3-bar-item w3-button w3-padding-large w3-hover-white <% if(my_title === 'Dashboard') { %> w3-white <% } %>">Dashboard</a>

    <!-- These will stack on mobile width -->
    <a href="/profile" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white <% if(my_title === 'Player Profile') { %> w3-white <% } %>">My Profile</a>
    <a href="/leaderboard" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white <% if(my_title === 'Leaderboard') { %> w3-white <% } %>">Leaderboard</a>
    <a href="/startRound" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white <% if(my_title === 'Start Round') { %> w3-white <% } %>">Start a Round</a>
    <a href="/logout" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Log Out</a>

    <!-- This is the "hamburger" container, not shown except at mobile width -->
    <a id="hamburger-container" class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="onMobileHamburgerClick()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>

    <% } %>

  </div>

  <!-- This is the mobile (low-width) nav --> 

  <div id="mobile-nav" class="w3-bar-block w3-red w3-hide w3-hide-large w3-hide-medium">
  <!-- If not logged in, don't show the main navigation -->
    <% if(loggedIn) { %>

    <a href="/profile" class="w3-bar-item w3-button <% if(my_title === 'Player Profile') { %> w3-white <% } %>">My Profile</a>
    <a href="/leaderboard" class="w3-bar-item w3-button <% if(my_title === 'Leaderboard') { %> w3-white <% } %>">Leaderboard</a>
    <a href="/startRound" class="w3-bar-item w3-button <% if(my_title === 'Start Round') { %> w3-white <% } %>">Start a Round</a>
    <a href="/logout" class="w3-bar-item w3-button">Log Out</a>

    <% } %>
  </div>
</div>
<% if(typeof loggedOutBanner !== 'undefined') { %>
<header class="w3-container w3-red w3-center">
  <h1 class="w3-margin w3-jumbo">FIND IT</h1>
</header>
<% } %>
<div id="content">
  <div id="messages">
    <!-- Check if message is defined & is not empty object -->
    <% if(typeof message !== 'undefined' && message &&  
          Object.keys(message).length !== 0) { %>
      <div class="alert alert-<%= message.level %>" role="alert">
        <%= message.content %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> 
    <% } %>
  </div>