
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}


body {
	background-color: white;
}

.image-container {
    text-align: center;
}

h2 {
	text-align: center;
  padding: .2em;
  padding-top: 1em;
  padding-bottom: .5em;
}

#content {
  margin-top: 2em;
}

.w3-container {
  padding:128px 16px  
}
