
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}


body {
	background-color: white;
}

.no-round {
  text-align: center;
}
.image-container {
    text-align: center;
}
.image-container img {
    max-width: 60%;
    min-width: 40%;
    max-height: 60%;
}

h2.title {
  text-align: center;
  padding: .2em;
  padding-top: 1em;
  padding-bottom: .5em;
}

#content {
  margin-top: 2em;
}

.w3-container {
  padding:128px 16px  
}

.image-container {
  text-align: center;
}

.container {
  padding: 16px;
}


.button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  width: 100%;
  padding: 14px 20px;
  margin: 8px 0;
}
