<% include ../partials/header %>
<% include ../partials/menu %>      

<body>
<h2 class="title">Current Round</h2>
<div class="container image-container">
  <img src='uploads/<%=image.target_url%>'>
</div>
<div class="container button-container">
  <button class="button" 
        onclick="alert('Check location against the picture location and do stuff')">
        Found It!
  </button>
</div>

</body>
</html>

<% include ../partials/footer %>