<% include ../partials/header %>
<% include ../partials/menu %>      

<body>
<h2 class="title">Current Round</h2>

<% if(round) { %>

<div class="container image-container">
  <img src='uploads/<%=round.target_url%>'>
</div>
<div class="container button-container">
  <button class="button" 
        onclick="alert('Check location against the picture location and do stuff')">
        Found It!
  </button>
</div>

<% } else { %>

<div class="no-round jumbotron">
	<h1>No rounds are currently going on!</h1>
</div>

<% } %>



</body>
</html>

<% include ../partials/footer %>