<% include ../partials/header %>
<% include ../partials/menu %>      

<h2>Current Round</h2>
<div class="image-container">
  <img src='uploads/<%=image.target_url%>'>
</div>

<% include ../partials/footer %>