<% include ../partials/header %>
<% if(!loggedIn) { 	
	let loggedOutBanner = true; 
} %>
<% include ../partials/menu %>			



<% if(roundsets.length > 0) { %>
	<h2 class="title">Rounds</h2>
	<div class="rows container">

	<% roundsets.forEach(function (roundset) { %>
	    <div class="row roundset">

	    <% roundset.forEach(function(round) { %>

    		<a class="round-link col col-md-3"
    		   href="/rounds/<%= round.id %>"> 

				<div class="round-model card">
					<img src="../uploads/<%= round.target_url %>">
				</div>

			</a> 

	    <% }); %>

	    </div>
	<% }); %>
	</div>

<% } else { %>
<div class="no-round jumbotron">
	<h1>No rounds are currently going on!</h1>
</div>
<% } %>
				
<% include ../partials/footer %>
