<% include ../partials/header %>
<% include ../partials/menu %>			


<% if(!loggedIn) { %> 
<header class="w3-container w3-red w3-center">
  <h1 class="w3-margin w3-jumbo">FIND IT</h1>
</header>
<% } %>

<div id="messages">
	<% if(message) { %> 
		<div class="alert alert-<%= level %>" role="alert">
		  <%= message %>
		</div> 
	<% } %>
</div>

<% if(roundsets.length > 0) { %>
	<h2 class="title">Rounds</h2>
	<div class="rows container">

	<% roundsets.forEach(function (roundset) { %>
	    <div class="row roundset">

	    <% roundset.forEach(function(round) { %>

    		<a class="round-link col"
    		   href="/rounds/<%= round.id %>"> 

				<div class="round-model card">
					<img src="../uploads/<%= round.target_url %>">
				</div>

			</a> 

	    <% }); %>

	    </div>
	<% }); %>
	</div>

<% } else { %>
<div class="no-round jumbotron">
	<h1>No rounds are currently going on!</h1>
</div>
<% } %>
				
<% include ../partials/footer %>