<% include ../partials/header %>
<% include ../partials/menu %>			

<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">FIND IT</h1>
</header>

<% include ../partials/footer %>
