<% local_css = 'leaderboard.css' %>
<% include ../partials/header %>
<% include ../partials/menu %>

<h2>Leaderboard</h2>

<table>
  <tr>
    <th>Ranking</th>
    <th>Username</th>
     <th>Score</th>
    
  </tr>
  <% var i = 0;%>
  
<%while(typeof data[i] !== 'undefined')
  { %>
  
    <tr>
     <td><%=data[i].row_number%></td>
      <td><%=data[i].user_name%></td>
      <td><%=data[i].points%></td>
    </tr>
    
    <%i = i+1;%>
 <% }%>
 </table>