<% local_css = 'leaderboard.css' %>
<% include ../partials/header %>
<% include ../partials/menu %>

<h2>Leaderboard</h2>

<table>
  <tr>
    <th>Ranking</th>
    <th>Username</th>
     <th>Score</th>
    
  </tr>
  data.forEach(function(element)
   {
  		<td> </td>
  		<td>element.user_name </td>
  		<td> </td>
	});

</table>
 <% include ../partials/footer %>