
<% include ../partials/header %>
<% include ../partials/menu %>

<h2>Leaderboard</h2>

<table>
  <tr>
    <th>Name</th>
    <td> </td>
    
  </tr>
   <tr>
    <th>Username</th>
    <td> </td>
    
  </tr>
  <tr>
    <th>Score</th>
    <td></td>
  </tr>
  <tr>
  	<th>Wins</th>
  	<td></td>
  </tr>

</table>
 <% include ../partials/footer %>