<% local_css = 'leaderboard.css' %>
<% include ../partials/header %>
<% include ../partials/menu %>

<h2>Leaderboard</h2>

<table>
  <tr>
    <th>Ranking</th>
    <th>Username</th>
     <th>Score</th>
    
  </tr>
  var i = 0;
  while(<%=data[i] != NULL%>)
  {
  	<td><%=data[i].user_name%></td>
  }