<% local_css = 'leaderboard.css' %>
<% include ../partials/header %>
<% include ../partials/menu %>

<h2>Leaderboard</h2>

<table>
  <tr>
     <th>Ranking</th>
    <th>Name</th>
     <th>Score</th>
    <td> </td>
    
  </tr>

</table>
 <% include ../partials/footer %>