<% local_css = 'login.css' %>
<% include ../partials/header %>
<% include ../partials/menu %>   

<form class="modal-content animate" action="/login" method="post">
  <div class="imgcontainer">
    <!-- Header -->
    <header class="w3-container w3-red w3-center">
      <h1 class="w3-margin w3-jumbo">FIND IT</h1>
    </header>
  </div>

  <div class="container">
    <label for="username"><b>Username or email</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
      
    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container login-footer">
    <span class="psw">Need to <a href="/register">register?</a></span>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>

<% include ../partials/footer %>