<% local_css = 'player-profile.css' %>
<% my_title = 'Player Profile' %>
<% include ../partials/header %>
<% include ../partials/menu %>      

<h2>Player Profile</h2>

<table>
  <tr>
    <th>Username</th>
    <td><%=data[0].user_name%> </td>
    
  </tr>
  <tr>
    <th>Score</th>
    <td></td>
  </tr>
  <tr>
  	<th>Place</th>
  	<td></td>
  </tr>

</table>