
<% my_title = 'Register' %>
<% include ../partials/header %>
<% include ../partials/menu %>      

	<h1> Registration Page</h1>
	<form action="/register" method="post">
	  Username<br>
	  <input type="text" name="username" placeholder="Enter Username">
	  <br>
	  Email Address<br>
	  <input type="text" name="email" placeholder="Enter email">
	  <br>
	  Password<br>
	  <input type="password" name="password" placeholder="Password">
	  
	  <br><br>
	  <input type="submit" value="Submit">
	  <input type="submit" value="Already have an account">

	</form> 

<% include ../partials/footer %>