<% include ../partials/header %>
<% include ../partials/menu %>      

<h2 class="title">Round #<%= round.id %></h2>

<div class="container image-container">
  <p><%= round.target_latitude %></p>
  <p><%= round.target_longitude %></p>
  <img src='../uploads/<%=round.target_url%>'>
</div>
<div class="container button-container">
  <button class="button" 
        onclick="alert('Check location against the picture location and do stuff')">
        Found It!
  </button>
</div>

<% include ../partials/footer %>