<% local_css = 'findit_test.css' %>
<% include ../partials/header %>
<% include ../partials/menu %>

<script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.19.0.min.js"></script>

<h1>Create New Round</h1>
<br>

<form action="/uploadTarget" enctype="multipart/form-data" method="POST"> 
   <input type="file" accept="image/*" capture name="myFile" onchange="previewFile()"/>
   <img src="" height="200" alt="Image preview...">
   <input id="subbutton" type="submit" value="Submit" disabled/>
   <input type="hidden" id="lat" value=""/>
   <input type="hidden" id="lon" value=""/>
</form>

<div class="container">
      <h1>PubNub Google Maps Tutorial - Live Device Location</h1>
      <div id="map-canvas" style="width:600px;height:400px"></div>
    </div>

    <script>
    window.lat = 37.7850;
    window.lng = -122.4383;

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(updatePosition);
        }
      
        return null;
    };

    function updatePosition(position) {
      if (position) {
        window.lat = position.coords.latitude;
        window.lng = position.coords.longitude;
      }
    }
    
    setInterval(function(){updatePosition(getLocation());}, 5000);
      
    function currentLocation() {
      return {lat:window.lat, lng:window.lng};
    };

    var map;
    var mark;

    var initialize = function() {
      map  = new google.maps.Map(document.getElementById('map-canvas'), {center:{lat:lat,lng:lng},zoom:12});
      mark = new google.maps.Marker({position:{lat:lat, lng:lng}, map:map});
    };

    window.initialize = initialize;

    var redraw = function(payload) {
      lat = payload.message.lat;
      lng = payload.message.lng;

      map.setCenter({lat:lat, lng:lng, alt:0});
      mark.setPosition({lat:lat, lng:lng, alt:0});
    };

    var pnChannel = "map2-channel";

    var pubnub = new PubNub({
      publishKey:   '<%= keys.pn_pub %>',
      subscribeKey: '<%= keys.pn_sub %>'
    });

    pubnub.subscribe({channels: [pnChannel]});
    pubnub.addListener({message:redraw});

    setInterval(function() {
      pubnub.publish({channel:pnChannel, message:currentLocation()});
    }, 5000);
    </script>

<script>
    function previewFile(){
        var preview = document.querySelector('img'); //selects the query named img
        var file    = document.querySelector('input[type=file]').files[0]; //sames as here
        var reader  = new FileReader();
 
        reader.onloadend = function () {
            preview.src = reader.result;
            // enable the submit button when a file is loaded
            document.getElementById('subbutton').disabled = false;
        }
 
        if (file) {
            reader.readAsDataURL(file); //reads the data as a URL
        }else{
            preview.src = "";
        }
    }
    previewFile();
</script>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= keys.googlemaps %>&callback=initialize"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<% include ../partials/footer %>