<% include ../partials/header %>
<% include ../partials/menu %>

<script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.19.0.min.js"></script>

<h1>Create New Round</h1>
<br>

<form action="/uploadTarget" enctype="multipart/form-data" method="POST" onsubmit="updateFormLocation()"> 
   <input type="file" accept="image/*" name="myFile" onchange="previewFile()" capture/>
   <img src="" height="200" alt="Image preview...">
   <input id="subbutton" type="submit" value="Submit" disabled/>
   <input type="hidden" id="lat" name="lat" value="abc"/>
   <input type="hidden" id="lng" name="lng" value="def"/>
</form>

<div class="container">
  <h1>Current Location</h1>
  <div id="map-canvas" style="width:600px;height:400px"></div>
</div>

<script> 
  function updateFormLocation(){
      console.log('submitted!');
      document.getElementById("lat").value = window.lat;
      document.getElementById("lng").value = window.lng;
  }
  function previewFile(){
      var preview = document.querySelector('img'); //selects the query named img
      var file    = document.querySelector('input[type=file]').files[0]; //sames as here
      var reader  = new FileReader();

      reader.onloadend = function () {
          preview.src = reader.result;
          // enable the submit button when a file is loaded
          document.getElementById('subbutton').disabled = false;
      }

      if (file) {
          reader.readAsDataURL(file); //reads the data as a URL
      }else{
          preview.src = "";
      }
  }
  previewFile();
</script>

<script src="../resources/js/currentLocationMap.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= keys.googlemaps %>&callback=initialize"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<% include ../partials/footer %>
