<% include ../partials/header %>
<% include ../partials/menu %>

<script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.19.0.min.js"></script>

<h1>Create New Round</h1>
<br>

<div class="hidden-container">
  <div class="debugging" <% if(typeof debugging === 'undefined') { %> style="display: none" <% } %>>
    <p id="your-lat"></p>
    <p id="your-lng"></p>
  </div>
</div>
<form action="/uploadTarget" enctype="multipart/form-data" method="POST" onsubmit="updateFormLocation()"> 
   <input type="file" accept="image/*" capture name="myFile" onchange="previewFile()"/>
   <img src="" height="200" alt="Image preview...">
   <input id="subbutton" type="submit" value="Submit" disabled/>
   <input type="hidden" id="lat" value="" name="lat" />
   <input type="hidden" id="lng" value="" name="lng" />
</form>

<div class="container">
      <h1>Current Location</h1>
      <div id="map-canvas"></div>
</div>

<script>   
    function updateFormLocation(){
        document.getElementById("lat").value = window.lat;
        document.getElementById("lng").value = window.lng;
    }
    function previewFile(){
        var preview = document.querySelector('img'); //selects the query named img
        var file    = document.querySelector('input[type=file]').files[0]; //sames as here
        var reader  = new FileReader();
 
        reader.onloadend = function () {
            preview.src = reader.result;
            // enable the submit button when a file is loaded
            document.getElementById('subbutton').disabled = false;
        }
 
        if (file) {
            reader.readAsDataURL(file); //reads the data as a URL
        }else{
            preview.src = "";
        }
        console.log(document.getElementById("lat").value);
    }
    previewFile();
</script>

<!-- Load map & related resources in this order, specifically.
     It's the fastest way to get them all loaded without errors. -->
<script src="../resources/js/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= keys.googlemaps %>&callback=initialize"></script>
<script src="../resources/js/geolocation.js"></script>
<script>
  function handleLocationUpdate(lat, lng) {

      // update hidden guessTarget form
      document.getElementById('lat').value = lat;
      document.getElementById('lng').value = lng;

      // display the current lat / long as debugging info
      document.getElementById('your-lat').innerHTML = lat;
      document.getElementById('your-lng').innerHTML = lng;

      redraw(lat, lng);
      console.log('redrew map');
  }
</script>
<script>
  window.addEventListener('DOMContentLoaded', function() {
    getLocation(handleLocationUpdate);
    setInterval(function(){
      getLocation(handleLocationUpdate);
    }, 1500);
  });
</script>
<% include ../partials/footer %>