<% my_title = 'FindIt! Feature implementation' %>
<% local_css = 'findit_test.css' %>
<% include ../partials/header %>
<% include ../partials/menu %>

<h1>Create New Round</h1>
<br>

<form action="/uploadfile" enctype="multipart/form-data" method="POST"> 
   <input type="file" accept="image/*" capture name="myFile" onchange="previewFile()"/>
   <img src="" height="200" alt="Image preview...">
   <input id="subbutton" type="submit" value="Submit" disabled/>
</form>

<script>
    function previewFile(){
        var preview = document.querySelector('img'); //selects the query named img
        var file    = document.querySelector('input[type=file]').files[0]; //sames as here
        var reader  = new FileReader();
 
        reader.onloadend = function () {
            preview.src = reader.result;
            // enable the submit button when a file is loaded
            document.getElementById('subbutton').disabled = false;
        }
 
        if (file) {
            reader.readAsDataURL(file); //reads the data as a URL
        }else{
            preview.src = "";
        }
    }
    previewFile();
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="findit_test.js"></script>
<% include ../partials/footer %>